$backGroundColor: rgb(245, 245, 245);
.BaseContent {
    background: $backGroundColor;
}

ion-content {
    --background: rgb(245, 245, 245);
}

ion-row {
    background: $backGroundColor !important;
}

.BaseGrid {
    background: $backGroundColor;
    width: 100%;
    height: 100%;
    .BaseGrid-topHeaderRow {
        margin-top: 30%;
        height: 20%;
        .topHeaderRow-colDestinImg {
            img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .BaseGrid-DestinRow {
        position: relative;
        margin-top: 5%;
        // height: 20%;
        .topHeaderRow-colDestinImg {
            img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .BaseGrid-FindMatchRow {
        margin-left: 20pt;
        margin-right: 20pt;
        ;
        position: absolute;
        width: calc(100% - 40pt);
        flex-shrink: 0;
        bottom: 20pt;
        
        .FindMatchRow-FindYouMatchCol {
            .FindYouMatchCol-lblFindYouMatch {
                display: block;
                width: 100%;
                text-align: center;
                font-size: 12pt;
                font-family: 'DejaVuSans';
                color: rgb(123, 123, 123);
            }
        }
    }
}