<ion-content class="BaseContent">
  <ion-grid class="BaseGrid">
    <ion-row class="BaseGrid-topHeaderRow">
      <ion-col> </ion-col>
      <ion-col size-sm size-md size-lg size-xl class="topHeaderRow-colDestinImg">
        <img src="./assets/images/imgTop.png">
      </ion-col>
      <ion-col> </ion-col>
    </ion-row>
    <ion-row class="BaseGrid-DestinRow">
      
      <ion-col size-sm size-md size-lg size-xl class="topHeaderRow-colDestinImg">
        <img src="./assets/images/destinWithHeart.png">
      </ion-col>
      
    </ion-row>
    <ion-row class="BaseGrid-FindMatchRow">
      
      <ion-col size-sm size-md size-lg size-xl class="FindMatchRow-FindYouMatchCol">
        <ion-label text-wrap class="FindYouMatchCol-lblFindYouMatch " >Find you match with our
          powerful algorithms</ion-label>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>