.back-arrow {
    width: 21pt !important;
    height: 18pt !important;
    margin-left: 15pt;
}

.lbl-mobile-number {
    margin-top: 17%;
    font-size: 24px;
    font-family: 'Raleway-Bold';
}

.lbl-verify-number {
    margin-top: 17%;
    margin-left: 60px;
    margin-right: 60px;
    width: calc(100% - 120px) !important;
    font-size: 18px;
}

.phone-number-row {
    margin-top: 15%;
    height: 40pt !important;
    background-color: transparent !important;
}

.col-country-code {
    text-align: right;
    padding: 3px;
    border-radius: 24pt;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: white !important;
    padding: 5pt;
    height: 36pt;
}

.txt-phone-number {
    display: block;
    height: 36pt;
    color: rgb(178, 178, 178);
    border-radius: 18.7pt;
    font-size: 14pt;
    font-family: 'Raleway-Regular';
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}