<ion-header>
  <ion-toolbar>
    <ion-img class="back-arrow" src="./assets/images/backArrow.png" (click)="btnBackTapped()"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label class="lbl-mobile-number">Enter your mobile number</ion-label>
  <ion-label class="lbl-verify-number">Verify your phone number to create an account</ion-label>

  <ion-row padding class="phone-number-row">

    <ion-col size="4" size-sm class="col-country-code">
      <ion-select interface="popover" placeholder="+38">
        <ion-select-option value="brown">+39</ion-select-option>
        <ion-select-option value="blonde">+40</ion-select-option>
      </ion-select>
    </ion-col>

    <ion-col size="8">
      <ion-input class="txt-phone-number" type="tel" [(ngModel)]="phoneNumber"></ion-input>
    </ion-col>
  </ion-row>

  <ion-button (click)="btnSendOtpTapped()">SEND OTP</ion-button>
</ion-content>