$primaryGradientColor: linear-gradient(to right, rgb(230, 149, 0), rgb(255, 192, 77));
$backGroundColor: rgb(245, 245, 245);
ion-row {
    background: $backGroundColor !important;
}

ion-content {
    --background: rgb(245, 245, 245);
}

.BaseGrid {
    background: $backGroundColor;
    width: 100% !important;
    height: 100% !important;
    .BaseGrid-topHeaderRow {
        margin-top: 18%;
        .topHeaderRow-colDestinImg {

            img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .BaseGrid-DestinRow {
        margin-top: 51pt;
        .topHeaderRow-colDestinImg {
            img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .BaseGrid-FindMatchRow {
        margin-top: 54pt;
        .FindMatchRow-FindYouMatchCol {
            .colDestinImg-Slides {
                padding-bottom: 25pt !important;
                --bullet-background: rgb(129, 129, 129) !important;
                --bullet-background-active: white !important;
                .FindYouMatchCol-lblFindYouMatch {
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-size: 12pt;
                    font-family: 'Raleway-Regular';
                    color: rgb(123, 123, 123);
                    line-height: 20pt;
                }
            }
        }
    }
    .BaseGrid-facebookLoginRow {
        margin-top: 55pt;
    }
    .BaseGrid-phoneLoginRow {
        margin-top: 18pt;
        margin-bottom: 30pt;
        border: none;
    }
}

.btnLoginWithFB {
    margin-left: 60px;
    margin-right: 60px;
    width: calc(100% - 120px);
    height: 40pt;
    border-radius: 18pt;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: 'Raleway-Bold';
    line-height: 18pt;
    background: $primaryGradientColor;
    border: none;
}

.btnLoginWithPhone {
    // margin-left: 60px;
    // margin-right: 60px;
    // margin-bottom: 30px;
    // margin-top: 18px;
    margin: 18px 60px 30px 60px;
    width: calc(100% - 120px);
    height: 40pt;
    border-radius: 18pt;
    text-align: center;
    color: rgb(255, 192, 77);
    font-size: 15px;
    font-family: 'Raleway-Bold';
    line-height: 18pt;
    background: white;
    border: none;
}