<ion-content fullscreen class="BaseContent">
  <ion-grid class="BaseGrid">
    <ion-row class="BaseGrid-topHeaderRow">
      <ion-col> </ion-col>
      <ion-col size="6" class="topHeaderRow-colDestinImg">
        <img src="./assets/images/destinWithHeart.png">
      </ion-col>
      <ion-col> </ion-col>
    </ion-row>
    <ion-row class="BaseGrid-DestinRow">
      <ion-col> </ion-col>
      <ion-col size="6" class="topHeaderRow-colDestinImg">
        <img src="./assets/images/imageIntro.png">
      </ion-col>
      <ion-col> </ion-col>
    </ion-row>
    <ion-row class="BaseGrid-FindMatchRow">
      <ion-col> </ion-col>
      <ion-col size="7" class="FindMatchRow-FindYouMatchCol">
        <ion-slides class="colDestinImg-Slides" pager="true">
          <ion-slide class="Slides-slide" *ngFor="let slide of slides">
            <ion-label class="FindYouMatchCol-lblFindYouMatch">Find you match with our powerful algorithms </ion-label>
          </ion-slide>

        </ion-slides>

      </ion-col>
      <ion-col> </ion-col>
    </ion-row>


  </ion-grid>
  <button ion-button class="btnLoginWithFB" (click)="btnLoginWithFacebookTapped()">LOGIN WITH FACEBOOK</button>
  <button ion-button class="btnLoginWithPhone" (click)="btnLoginWithPhoneTapped()">LOGIN WITH MOBILE PHONE</button>
</ion-content>