// Ionic Variables and Theming. For more info, please see:
$primaryColor: linear-gradient(to right, rgb(230, 149, 0), rgb(255, 192, 77));
$SecondaryColor: rgb(255, 192, 77);
// http://ionicframework.com/docs/theming/
/** Ionic CSS Variables **/

:root {
    /** primary **/
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
    /** secondary **/
    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;
    /** tertiary **/
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}

/* Cust CSS*/

ion-content {
    --background: rgb(245, 245, 245);
}

ion-button {
    --width: calc(100% - 38pt);
    --height: 8vh;
    --margin-top: 15%;
    --margin-start: 19pt;
    --margin-end: 19pt;
    display: block;
    font-size: 14pt;
    font-family: 'Raleway-Bold';
    --border-radius: 24pt;
    --border-radius: 24pt;
    --background: linear-gradient(to right, rgb(230, 149, 0), rgb(255, 192, 77));
    --background-activated: rgb(255, 192, 77);
}

ion-input {
    --padding-start: 11pt;
    background: white;
}

ion-label {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Raleway-Regular';
    color: $SecondaryColor;
}

ion-select {
    width: 100%;
}

ion-header {
    box-shadow: 0 4px 8px -2px rgba(172, 172, 172, 0.5, );
}

/* Custom Fonts*/

@font-face {
    font-family: 'DejaVuSans';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/DejaVuSans.ttf');
}

@font-face {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Raleway-Bold.ttf');
}