<ion-header class="ionHeader">

  <ion-row no-padding no-margin class="headerRow">
    <ion-col size="2" (click)="btnBackTapped()" class="imgCol" >
      <img class="backIcon" src="./assets/images/backArrow.png" />
    </ion-col>
    <ion-col> </ion-col>
  </ion-row>
</ion-header>
<ion-content padding>
  <ion-label class="lblEnterYourCode">Enter your code</ion-label>

  <ion-label class="lblTotalResult"> Please type the verification code sent to
    <span class="lblTotalResultValue">{{UserPhoneNumber}}</span>
  </ion-label>

  <ion-row class="phoneNumberVerificationRow" >
    <ion-col size="1"></ion-col>
    <ion-col class="phoneNumberVerificationCol" no-padding>
        <ion-input class="txtAuthencationCode" type="tel" maxlength="1" [(ngModel)]="authCode1"></ion-input>
    </ion-col>
    <ion-col class="phoneNumberVerificationCol" no-padding>
        <ion-input class="txtAuthencationCode" type="tel" maxlength="1" [(ngModel)]="authCode2"></ion-input>
    </ion-col>
    <ion-col class="phoneNumberVerificationCol" no-padding>
        <ion-input class="txtAuthencationCode" type="tel" maxlength="1" [(ngModel)]="authCode3"></ion-input>
    </ion-col>
    <ion-col class="phoneNumberVerificationCol" no-padding>
        <ion-input class="txtAuthencationCode" type="tel" maxlength="1" [(ngModel)]="authCode4"></ion-input>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-button class="btnVerifyOTP" (click)="btnVerifyCodeTapped()" >VERIFY</ion-button>

  <ion-label class="lblDidnotReceiveCode" (click)="resendCodeTapped()" > Didn’t receive the code?
    <span class="lblResentNow">RESEND NOW</span>
  </ion-label>
</ion-content>