$primaryColor: linear-gradient(to right, rgb(230, 149, 0), rgb(255, 192, 77));
$SecondaryColor: rgb(255, 192, 77);
$blackColor : rgb(30,30,30);
ion-content {
    --background: rgb(245, 245, 245);
}

.ionHeader {
    background: white !important;
    box-shadow: 0 4px 8px -2px rgba(172, 172, 172, 0.5, );
    .headerRow {
        background: transparent;
        
        height: 50pt;
        .imgCol {
            background: white;
            .backIcon {
                width: 21pt;
                height: 18pt;
                margin-top: 15pt;
                margin-left: 15pt;
                margin-bottom: 0pt;
                z-index: 99999;
                transition: 0.2s linear;
            }
        }
    }
}
.lblEnterYourCode {
    display: block;
    margin-top: 36pt;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway-Bold';
    color: $SecondaryColor;
}
.lblTotalResult {
    display: block;
    margin-top: 11%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: center;
    font-size: 18px;
    color: $blackColor;
    
    font-family: 'Raleway-Regular';
    
    .lblTotalResultValue {
        font-size: 18pt;
        text-align: left;
        letter-spacing: 0.3px;
        color: $blackColor;
        // margin-top: 13pt;
        margin-bottom: 15pt;
        font-family: 'Raleway-Bold';
        
    }
}

.phoneNumberVerificationRow{
    
    margin-top: 39pt;
    
    .phoneNumberVerificationCol{
        background: white;
        margin: 4.5pt;
        border-radius: 20pt;

        .txtAuthencationCode{
            font-size: 28px;
            font-family: 'Raleway-Bold';
        
        }
    }
}
ion-input {
    --padding-start: 11pt;
}

ion-button {
    --border-radius: 24pt;
    --width:calc(100% - 30pt);
    --height: 8vh;
    --margin-top: 14%;
    --margin-start: 15pt;
    --margin-end: 15pt;
    --background : linear-gradient(to right, rgb(230, 149, 0), rgb(255, 192, 77));
    --background-activated :  rgb(255, 192, 77);
}
.btnVerifyOTP{
    display: block;
    font-family: 'Raleway-Bold';
}

.lblDidnotReceiveCode {
    display: block;
    margin-top: 15%;
    margin-left: 20pt;
    margin-right: 20pt;

    width:  calc(100% - 40pt);
    text-align: center;
    font-size: 18px;
    color: $blackColor;
    font-family: 'Raleway-Regular';
    .lblResentNow {
        font-size: 16pt;
        text-align: center;
        letter-spacing: 0.3px;
        color: $SecondaryColor;
        // margin-top: 13pt;
        margin-bottom: 15pt;
        font-family: 'Raleway-Bold';
        
    }
}
.select-icon {
    padding-top: 11px;
}